.App {
  text-align: center;
  font-family: 'Signika', sans-serif;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  min-width: 98vw;
 
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 4vw;
  opacity: 0.8;

  flex-wrap: wrap;
}
.navbarrr{
  background-color: #08355e;
}
.navbarrr a{
  text-decoration: none;
  color: aliceblue !important;
  font-size:larger;
}


a{
  text-decoration: none;
 
}
.navbarrr a:hover{
  color: red;
}
.navtime{
  margin: 0;
  color: aliceblue;
}
.bg-light{
  display: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 725px) {
 .navbarrr{
  display: none !important;
}
.bg-light{
  display: block !important;
}
}